[2019-11-07 11:32] LeilaPiri opened #3 "EEPROM: Delete external Interfaces"
The EEPROM may only be written to by the I2C connections of the SAM. All interfaces to external connectors like 8pin Connector or HAT plug have to be removed in respect to writing to the EEPROM.

[2019-11-07 11:34] LeilaPiri opened #4 "Remote Test EEPROM"
1. The reading of data from the external EEPROM has to be tested.
2. The writing of data to the external EEPROM has to be tested.
3. The mirroring of the data in the external EEPROM to the HAT EEPROM and reading out the data
     via rPi has to be tested.

Feedback has to be implemented. For writing to the EEPROM the feedback should be "success" or an error message. For reading the data in the EEP

[2019-11-07 11:34] LeilaPiri opened #5 "Set up USB Communication"
The USB communication between SAM and AMD Ryzen (Linux) has to be set up.

**Definition of Done**
- [ ] code for mentioned task is complete. examples & documentations are complete.

- [ ] build chains are tested

- [ ] corresponding branch is closed

- [ ] merging is done

[2019-11-08 08:12] i5abell opened #6 "Documentation of EventSystem"
Documentation of the EventSystem and of possible events. Which events does the command je> show? Documentation in a formatted form (like revised CommunicationProtocol.md).

[2019-11-08 19:48] begodev opened #7 "OpenOCD installation problem under the current distr"
OpenOCD installation under the current distributive of ArchLinux is not so trivial as for Raspbian.
Configure script just skips the --enable-bcm2835gpio option for some reason(doesn't find *ARM keyword in a $host_cpu ? ), so manual patching was required to make a correct build...

[2019-11-11 10:36] LeilaPiri opened #8 "Implementing module for non-volatile flash"
The settings (of the button menu) have to be saved permanently in the flash, as permanently as the firmware. So in respect of a board restart they should be permanently saved, but when a new firmware is flashed, they can be deleted too.

Definition of Done
- [x] task mentioned in issue is solved. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is

[2019-11-11 10:37] LeilaPiri commented on #4
OpenOCD installation under the current distributive of ArchLinux is not so trivial as for Raspbian.
Configure script just skips the --enable-bcm2835gpio option for some reason(doesn't find *ARM keyword in a $host_cpu ? ), so manual patching was required to make a correct build...

[2019-11-11 11:04] #7 closed

[2019-11-11 13:00] acolomb commented on #4
If you find a solution to this, please consider contributing it to the upstream OpenOCD packaging in Arch.  There is already an up-to-date version of openocd available in the package archives, but it's missing the bmc2835gpio interface code as well, unfortunately.  Would be a breeze to just have it available via pacman...

[2019-11-11 14:08] begodev commented on #3
Interface was removed

[2019-11-13 23:42] begodev commented on #4
/dev/i2c-X doesn't appear after loading i2c_dev module by modprobe under a new system.
Is it planned to use HAT's eepromutils for programming the EEPROM or I2C will be complitely hidden?

[2019-11-14 13:05] IngoKaiser commented on #4
@begodev I thought of having utils in repo itself, but only having read function implemented in firmware. Write function needs to be added to calibration firmware. Read is also available on Pi for reading HAT EEPROM (mirrored smart EEPROM of SAM).

[2019-11-14 15:11] LeilaPiri opened #9 "implementation of a temperature control system for the cooling fan"
for this purpose use the integrated temperature sensor of the SAM.

[2019-11-14 19:51] k41532 opened #10 "transfer driver/example to driver/examples"
please transfer dir into examples with name - "DataLogging"

and add some code to main to store data of all sensors in tsv-format just like in old project.

[2019-11-14 19:54] IngoKaiser opened #11 "create real nanosecond sleep"
As a workaround we created a sleep function for 8 and 55ns that uses actions that last about that time, because any sleep function I found was not able to do a nanosecond sleep.

Please integrate according function. Lets discuss it, if there is any problem.

[2019-11-14 21:10] IngoKaiser opened #12 "Create modern Readme"
![TimeSwipe_3_no stroke](https://user-images.githubusercontent.com/24693067/68896218-4a508300-072b-11ea-9a03-4ddd721911f0.png)

Example attached.

<img width="944" alt="image" src="https://user-images.githubusercontent.com/24693067/68896323-7f5cd580-072b-11ea-9c8d-0cfe36e8b2a0.png">

Who wants to do it?

[2019-11-14 21:16] IngoKaiser commented on #12
![PANDA Timeswipe (all black)](https://user-images.githubusercontent.com/24693067/68896727-66a0ef80-072c-11ea-8cf5-e15285eff074.png)

With title like this ... I just think without logo and PANDA :)

[2019-11-14 21:26] IngoKaiser commented on #12
Perhaps we can integrate Subheaders like:

**Install**
-> link to readme for building drivers for several os

**Documentation**
-> link to firmware doc
-> link to communication protocol doc
-> link to driver doc

**RPi Examples**
-> link to Rpi examples

**Customizing Firmware**
-> link to building and flashing firmware
-> link to firmware examples

**License**

Other ideas for Main Readme really

[2019-11-15 11:42] i5abell commented on #9
The ventilator control is routed on pin PA09 (34) of the SAM.
The actual ventilator: https://www.reichelt.de/axial-luefter-30x30x6mm-5v-6-2m-h-15-7dba-sun-mf30060v2-1-p260654.html

Has to be written in a modular way as separate function, so that it can be used as a code block elsewhere.

[2019-11-15 12:36] k41532 opened #13 "Add documentation for Event-System"

[2019-11-15 12:39] k41532 opened #14 "Change DAC Behavior: 1-4, Overwrite channels with SAM data on DACsw"
Please also give little example in doc on how to write DAC (old DAC1-2) from SAM manually.

[2019-11-15 23:12] #13 closed

[2019-11-15 23:14] IngoKaiser commented on #3
@LeilaPiri could you please clarify reopening?

[2019-11-16 14:29] k41532 opened #15 "Looks like we are loosing data"
<img width="1265" alt="Bildschirmfoto 2019-11-12 um 16 26 12" src="https://user-images.githubusercontent.com/24693067/68994651-9dd6e400-0885-11ea-9dd7-d84e89481097.png">

This is a triangle signal on the data. It looks like I was to slow with lib. We need to get 48k fps. Do we get that? Whats the cpu load like?

Please do some testing.

[2019-11-17 21:20] k41532 opened #16 "Optimize Board Interface"
- [x] User should be able to request settings like `js>["a","b","c"]\n`

- [x] User should get all settings with `js>\n` (just like he can for je)

- [x] Add js and je explanation to docs

[2019-11-18 10:51] IngoKaiser opened #17 "Semantic Versioning"
Elements
- [ ] Timeswipe Driver
- [ ] Timeswipe Firmware
- [ ] Timeswipe EEPROM
- [ ] Timeswipe Board

Following in principal: https://semver.org

Given a version number MAJOR.MINOR.PATCH, increment the:
1. MAJOR version when you make incompatible API changes,
2. MINOR version when you add functionality in a backwards compatible manner, and
3. PATCH version when you make backwards compatible bug f

[2019-11-19 14:38] begodev commented on #14
Excuse me, I'd like to ask what does it mean  "to write DAC (old DAC1-2) from SAM manually"?
A source code example how to programm a SAM's DAC? Or how to send a command TO the SAM to change an Analog Output?
Also I'm going to remove DAC0 & DAC1.
And rename DACA-DACD to AOUT1-AOUT4 that they match to hardware manual Pinbelegung_D_SUB_6pin.pdf.

[2019-11-19 17:51] iluxa commented on #11
RPi timer is not so precise, we can consider busy waiting or if this is not acceptable, some external device

[2019-11-19 18:13] iluxa commented on #10
PR created https://github.com/panda-official/TimeSwipe/pull/18:
- moved example to driver/examples/DataLogging
- moved sleep 100ms from user code to the driver code
- added example option --dump to dump to stdout all sensors instead of firsts

[2019-11-19 18:31] IngoKaiser commented on #14
We just talked about the feature to set DACsw and be able to send chosen data from SAM/Pi on 2 analog outputs. That’s what I meant. Did explanation help?

[2019-11-19 22:31] IngoKaiser commented on #10
Move sleep back into user loop. Or lets discuss another way - just the way we talked about it on channel.

[2019-11-19 22:34] IngoKaiser commented on #11
hmm what's the precision of RPi? Busy waiting for those elements (its meant to be for gpio interaction breaks) might be an option otherwise.

[2019-11-20 07:12] iluxa commented on #10
Moved sleep back to the user, new PR:
https://github.com/panda-official/TimeSwipe/pull/19

[2019-11-20 07:58] iluxa commented on #11
It has 1-microsecond precision, it is possible to use busy-waiting but it is not 100% guarantee because of operating system schedulers, timers and other interruptions
if there is no external signaling, busy waiting can be a better solution

[2019-11-20 08:19] iluxa commented on #15
At first we can add data losing check for intto the library
criteria might be if data received later than 500ms after previous data received

How is it possible to measure fps? Is it expecting to receive 48k records per second?

[2019-11-20 08:20] IngoKaiser commented on #11
ok, can you make some tests about workload?

- Reading as fast as we can
- Reading every 100ms

--> how long does reading take, what does it mean for cpu usage?

[2019-11-20 08:24] IngoKaiser commented on #11
for old board - with sample rate of 16fps (Port 22) and new board - with sample rate of 48fps (Port 24)

[2019-11-20 08:31] IngoKaiser commented on #11
Pins for new board

static const unsigned char DATA0 = 24;  //BCM 24  - PIN 18
static const unsigned char DATA1 = 25; //BCM 25 - PIN 22
static const unsigned char DATA2 = 7;  //BCM 7  - PIN 26
static const unsigned char DATA3 = 5;  //BCM 5  - PIN 29
static const unsigned char DATA4 = 6;  //BCM 6  - PIN 31
static const unsigned char DATA5 = 12; //BCM 12 - PIN 32
static const unsigned char DATA6 = 1

[2019-11-20 08:38] iluxa commented on #11
old board
with 100ms delay:
cpu usage 25%
15740 fps

as fast as possible
cpu usage 62%
38119 fps

[2019-11-20 08:59] iluxa commented on #11
new board
with 100ms delay:
cpu usage 15%
16734 fps

as fast as possible:
cpu usage 25%
27641 fps

[2019-11-20 10:28] LeilaPiri commented on #3
issue should be reviewed before being closed.

[2019-11-20 11:14] IngoKaiser commented on #3
ok thought 👍 was review :)

@begodev could you please tell commit of removing interface?

[2019-11-20 19:23] IngoKaiser commented on #10
hey @iluxa beside changes I am missing integration of properly saving data in file ;) Please Check that and do integration.

[2019-11-21 06:43] iluxa commented on #10
current version let user put `--dump` flag and redirect standard output to the file. I thinks it is a good way to save data to the file, original version has filename hardcoded, should we add new option like
`--output` for user to save into the file or keep this implementation with redirecting standard output?

[2019-11-21 07:20] iluxa commented on #11
Thi issue with overfps is resolved by tweaking sleeps for different quartz in `waitForPiOk` driver.cpp function.
I am going to try busy-wait sleep implementation

[2019-11-21 07:24] iluxa commented on #15
Going to resolve https://github.com/panda-official/TimeSwipe/issues/11 before continue testing, it seems data are losing because of real sleep is different from intended

[2019-11-21 09:10] IngoKaiser commented on #10
@iluxa thats a very good idea

[2019-11-21 09:12] iluxa commented on #10
@k41532 what exactly good - leave it as it is or add `--output` flag?

[2019-11-21 09:23] IngoKaiser commented on #11
We’re mixing two things here. This task was about to replace sleep55ns function (Which is used between clocking) with better solution since we’re not sure if the gpio reading will also take 55ns in future (other os, driver, CPI...) that’s why we want to have a clean solution at that place.

On the other hand we are missing data on read (#15) but might be more an issue with piOK or waiting interval

[2019-11-21 09:37] IngoKaiser commented on #10
😁I mean your idea. —output flag

[2019-11-21 10:03] IngoKaiser commented on #10
Let’s also switch config behavior.

Let’s put chosen input type as selection in there not as option to be chosen by additional flag as flag as of now.

Let’s work with flag —config therefore. When none is set we use NORM as default with 0 for each offset and 1 for all gains and transmissions.

@iluxa
What do you think?

[2019-11-21 10:18] iluxa commented on #10
yes, then command line will be:
[code]
`config.json` is default for `--config` option
first input type from config file is default for `--input` option

[2019-11-21 10:37] IngoKaiser commented on #10
perfect

[2019-11-21 11:22] IngoKaiser commented on #14
Hey @begodev
I am discussing new naming with @i5abell.

The way you changed it (AOUT1-4) might be a littlest confusing now. I just added an image to clarify what we have on hardware side.

So we have an ADC and DAC right at the SAM --> ADC is used to digitalize data for SAM (LED Control) and DAC is to set Analog Output 3-4 manually from SAM. Am I right so far?

Then we have an additional ADC to di

[2019-11-21 12:19] begodev commented on #14
So it is not connected directly? It is mixed somehow with an input signal amplified? Then of course it is necessary to roll back to the scheme 4DAC + AOUT3/4.  And maybe to create some short hardware manual of the board to be possible to read ?

[2019-11-21 12:20] IngoKaiser commented on #4
We have a pi online with new Board (connected EEPROM with pullups).

Type `ssh ssh://root@0.tcp.eu.ngrok.io:10089` (root:panda)

I will replace address within next days

@begodev could you test EEPROM utils with that next?

[2019-11-21 12:55] IngoKaiser commented on #14
Yes, its mixed, please go to scheme 4DAC + AOUT3/4. Where DAC are for setting offset on the input signal (before it gets to the ADCs and Analog output).

[2019-11-21 17:39] iluxa commented on #15
After some testing, I found that printing data takes a lot of time and causes losing data.
Even not printing but formatting float pointer numbers.
The issue can be solved by multithread application with lockfree queue.
I get it working without losing data by using [boost::lockfree:spsc_queue](https://www.boost.org/doc/libs/1_66_0/doc/html/boost/lockfree/spsc_queue.html)
We can generate errors coun

[2019-11-22 08:21] i5abell commented on #3
@begodev I have seen that you have removed the I2C slave for the 8 pin connector and its connection to the EEPROM buffer in the main.cpp. If I see it right, the HAT EEPROM code block is still the same. Just the headline has changed from "R/W EEPROM data from extension plugs" to "Read-only EEPROM data from extension plugs"? Is it still possible for the rPi to write EEPROM data via HAT I2C or have y

[2019-11-22 10:23] begodev commented on #3
@k41532: the commit was:

commit 7ae428607b2859ed5fef26b0b6a8e432fefabe47
Author: vnk <vnk@VNKpc.ru>
Date:   Mon Nov 11 16:57:01 2019 +0300

[2019-11-22 10:27] begodev commented on #3
@i5abell

No, it is impossible since the writing code has been removed also from CSamI2CeepromMaster & CSamI2Cmem. They are both read-only now

[2019-11-22 10:28] begodev commented on #14
ok

[2019-11-22 10:31] begodev commented on #4
Ok. Is there also an I2C-0 dev activated? I'll look there...

[2019-11-22 15:51] IngoKaiser commented on #4
Should be available.

[2019-11-22 22:54] begodev commented on #4
So external HAT interface seems to be working: I see the board via i2c-0 under the Linux and can readout the data. But is the external EEPROM chip is already connected with pullups? Right now its still "arbitration loss"
May I also change a root password?

[2019-11-23 07:59] IngoKaiser commented on #4
External EEPROM should also have pull-ups, but they are added manually. There might be a connection issue. 🤔

You can change pw - but why?

[2019-11-23 15:51] begodev commented on #4
Oh, sorry this time it was address mismatch...

I just thought if some anonymous outside the team reads this and may decide to login,  some armateur young hacker )

[2019-11-23 22:29] begodev commented on #4
Oh, sorry this time it was address mismatch...

Now I can make some communication with a chip at address 0xA0, at least I see how the bus is going through the corresponding states. It seems hardware is ok at first sight. I'm continuing testing...

[2019-11-23 22:43] IngoKaiser commented on #4
👍
Did you have a look at eeprom specs?

https://github.com/raspberrypi/hats/blob/master/eeprom-format.md

[2019-11-24 07:44] iluxa commented on #10
added PR https://github.com/panda-official/TimeSwipe/pull/21

[2019-11-24 09:30] begodev commented on #4
Yes, previously I used eeprom utils to create the eeprom image automatically

[2019-11-24 18:48] #10 closed

[2019-11-25 09:26] IngoKaiser opened #22 "Update Driver API"
Timeswipe

- bool init => runs single Set* for according Board… SetInput: - Define defaults; tbd! Integration when EEPROM is implemented

- bool start(std::function<void(std::vector<Record>)> cb) => error and message (vector of Records) as input for callback!

- response setSecondary => I thought about that. Instead of setting DMS, IEPE, NORM... we have severals boards (two atm - one especially fo

[2019-11-25 09:56] IngoKaiser commented on #3
ok, am I right that we
- only have write access for HAT EEPROM on SAM,
- have I2C available on 8pin and
- have SPI available on 8pin?

[2019-11-25 10:21] begodev commented on #3
from the current software part (at the master) we have read only access to HAT EEPROM from rPI,
write access on SAM (to fill the data buffer from the external chip)

And no any software interfaces for 8pin (I2C was removed: 2 lines of code are deleted)

[2019-11-25 12:41] #3 closed

[2019-11-25 19:36] iluxa commented on #15
PR: https://github.com/panda-official/TimeSwipe/pull/23
driver reads from sensors to its own buffer in own thread
application reads data from driver buffer
application also reads error counter - how many entries have been lost in the buffer
add debian 32bit packed build

[2019-11-25 19:36] iluxa commented on #15
checked on raspbian - getting 48K fps

[2019-11-25 20:23] iluxa opened #24 "add 32bit driver build config from OSX"

[2019-11-26 08:48] IngoKaiser commented on #15
<img width="725" alt="image" src="https://user-images.githubusercontent.com/24693067/69613409-d0c16a80-1031-11ea-89e7-14b30897a684.png">

[2019-11-26 08:48] #15 closed

[2019-11-26 09:55] LeilaPiri commented on #9
- should be implemented using pulse width modulation (PWM), frequency: 1-9 kHz
- 4 steps: 0%, 33%, 66%, 100%

[2019-11-26 11:34] IngoKaiser commented on #4
@begodev so you have access on both EEPROM?

from SAM you can access EEPROM (r/w) and HAT EEPROM (r/w)
from RPi you can access HAT EEPROM (r)

if that's right, close issue and open new one for clarifying r/w utils and content (teaser: should follow this: https://github.com/raspberrypi/hats/blob/master/eeprom-format.md

[2019-11-26 17:11] iluxa commented on #11
Here are investigations report about how to sleep 8ns and 55ns

Tests have been performed on Raspberri PI3 with raspbian 32bit on idle system

The idea is to perform some busy-loop:
[code]
 and estimate how much time it takes.

Time can be expressed in cpu core cycles, it must be the most precise method.

To count core cpu cycles kernel module was used: https://matthewarcus.wordpress.com/2018/01/2

[2019-11-26 20:43] IngoKaiser commented on #11
ok, please
- replace sleep55ns and sleep8ns (that is not even used) with a wait function and N as input.
- add knowledge from your report to Doxygen for this function.
- reduce wait time in reader.cpp to the amount that you get errors (clocking shouldn't be recognized properly and you won't get 48k fps any more) -> set N twice the number as it latest worked (as security) and merge it to dev_librar

[2019-11-27 09:26] iluxa commented on #11
PR: https://github.com/panda-official/TimeSwipe/pull/25

During tests I found that DataLogging is still getting 48K fps even with zero busy-wait (with `uint64_t waitNs = 0;`)

[2019-11-28 08:38] IngoKaiser commented on #6
Please merge to master and delete branch.

[2019-11-28 11:44] i5abell commented on #16
@begodev json object is not found.. I tested it with the rPIspi terminal. It is maybe not the latest version, but it has worked with the newer firmware versions.

![Bildschirmfoto vom 2019-11-28 12-33-35](https://user-images.githubusercontent.com/50866829/69803363-479a6700-11dc-11ea-8f32-d85d26f37bfe.png)

[2019-11-28 16:31] iluxa commented on #11
During tests it was found that only one delay required got clean diagram: between `setGPIOHigh(CLOCK)` and `setGPIOLow(CLOCK);`
Actually puting `std::this_thread::yield();` call there enough to receive clean data, so only context switch between threads required.
With busy loop like:
[code]
and big N value there is a very high probability that the execution will be interrupted by OS scheduler many

[2019-11-29 07:16] iluxa commented on #11
Latest tested commit pushed to the branch and ready to merge

[2019-11-29 11:41] iluxa commented on #22
https://github.com/panda-official/TimeSwipe/pull/28
onError and onButton are implemented

[2019-11-30 11:24] iluxa commented on #22
added SetSecondary, Init, SetSettngs, GetSettings

[2019-12-02 22:02] #16 closed

[2019-12-02 22:03] #6 closed

[2019-12-02 22:03] #14 closed

[2019-12-04 20:21] begodev opened #30 "Create non-volatile structured storage based on HAT ID EEPROM FORMAT SPECIFICATION and ATOM structure convention"
1) The data should be stored in the non-volatile memory according to the ATOM abstraction and format
(https://github.com/raspberrypi/hats/blob/master/eeprom-format.md)

2) An interface should be implemented for storing / retrieving arbitrary data objects based on the type of object and its unique name or identifier

[2019-12-04 20:34] begodev opened #31 "Testing sporadic communication errors returning by a driver function"
@gilyav has reported about sporadic communication errors returning by spi.receive method. This should be tested.

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2019-12-05 11:05] begodev commented on #31
spi_test is working more than hour on pi.panda.technology (Port 24) Board rev. 2.2 without any errors...

[2019-12-09 09:28] #4 closed

[2019-12-10 21:20] IngoKaiser commented on #31
@iluxa do errors still occur?

[2019-12-10 21:39] iluxa commented on #31
@k41532 just tested 3 times on 0.tcp.eu.ngrok.io:10274
error appeared after 12, 2, 3 seconds

[2019-12-11 12:13] begodev commented on #31
The problem that some symbols in the message are sometimes missing.
This came from several reasons:
1) SPI's FIFO bufer has short length.
2) the interrupt routine seems too slow for current speed - should be optimized.
3) communication speed is too high.

[2019-12-11 19:44] iluxa opened #33 "Do not Block user in Start call"
Start should create main loop and return immediately

[2019-12-13 14:17] iluxa commented on #33
pushed changes in commit https://github.com/panda-official/TimeSwipe/commit/e5f416b2cf4d0c998606725ebab5f4f4dfc9f74e

[2019-12-16 08:22] iluxa commented on #33
added delay to reduce cpu load:
https://github.com/panda-official/TimeSwipe/commit/f7bfdb210bd7f57e4b045f164cb5bc969165f305

[2019-12-16 09:11] IngoKaiser commented on #33
<img width="400" alt="image" src="https://user-images.githubusercontent.com/24693067/70893925-55c5f100-1fec-11ea-8d33-1eac277d8284.png">

Getting acceptable cpu workload.

[2019-12-16 09:11] #33 closed

[2019-12-16 15:21] iluxa opened #34 "Implement ci/cd for the driver"
on git tag created new versions should be generated:
driver packages (for debian and arch)
python and nodejs modules

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2019-12-17 07:09] IngoKaiser opened #35 "Make gain and transmission floats"
Since we have calculated gains and sensor transmissions with decimals, let’s make them float.
**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-01-03 09:17] IngoKaiser opened #39 "Change SetBridge to SetSecondary"
On current board (IEPE) we misused SetBridge for changing between IEPE or Normsignal.
Therefore we added "SetSecondary" in driver:
0 = IEPE
1 = Normsignal

Please also change this in Firmware to avoid confusion.

We will have SetBridge on our other Board (DMS), therefore we should have this setting, but interface in Firmware will change in next step.

@iluxa @begodev please check, that driver and

[2020-01-03 09:21] IngoKaiser opened #40 "Add vector to TimeSwipe driver?!"
Running this code:

[code]

I need to include vector. Could we just add this to driver?

[2020-01-05 21:20] begodev commented on #39
"SetSecondary" has been added to the firmware in the "issue31_39" branch

[2020-01-06 15:14] IngoKaiser commented on #39
@iluxa please adjust SetSecondary in driver accordingly.

[2020-01-07 07:01] iluxa commented on #40
Add std lib dependencies into the "timeswipe.hpp" in commit:
https://github.com/panda-official/TimeSwipe/commit/866f264e0dec7f042836a19729b6bd0623bf7a53

[2020-01-07 10:54] i5abell opened #42 "Merge branch button_marker_blinkstart"
Please review pull request "#38 Button marker blink start", check the code and merge into master, if you agree. If you see problems, collisions or room for improvement, please write it in the review.

[2020-01-08 00:30] begodev commented on #42
Hello i5 bell, comments are in the pull requests

[2020-01-08 08:30] i5abell commented on #42
Hey begodev,
I understand the points. Please keep one of the functions BlinkAtStart or blinkLED and remove the other one. If blinkLED is kept, please adapt it to the behavior of BlinkAtStart (blinking two times in board color).
I understand what you mean in respect of global variables. Can you please write the view class you mentioned? I think it is a good idea. I thought too, that it would be goo

[2020-01-08 11:48] begodev commented on #42
Ok, then I'll think about how to design the class in the best way...

[2020-01-08 23:09] begodev commented on #42
I've merged 31_39 to a master. So I think we will continue with the View from this point...

[2020-01-09 07:12] iluxa commented on #11
According to the topic https://www.raspberrypi.org/forums/viewtopic.php?t=228727
after next improvements:
* add `isolcpus=3` boot argument to /boot/cmdline.txt
* set thread affinity to core 3
* disable cpu frequency scaling ()
* Set the process to real-time FIFO scheduling, with maximum priority.

according to the tests
it is possible to keep sleep in 60ns in 99,994% cases, on the rest 0,006% case

[2020-01-09 07:38] i5abell commented on #42
Ok.

[2020-01-10 08:56] begodev commented on #42
Now it's in the View

[2020-01-13 09:09] #42 closed

[2020-02-03 15:03] mkh-welsch opened #45 "add sample rate setting"
the 5-pol analog filter in the hardware is optimized for the 48kHz samples per second. anyways, if the user wants a lower sample rate, the original signal has to be digitally filtered before downsampling the values. this should be implemented in the driver.

this here seems to be a good starting point.
https://github.com/terrygta/SignalResampler

if we resample block-wise, there are artifacts at t

[2020-02-07 14:41] mkh-welsch opened #47 "add analog out support"
Output of a defined square wave.
amplitude, frequency, shift_amount, numbers.

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-02-07 15:14] LeilaPiri opened #48 "if timeswipe driver runs on raspberry and other one tries to connect: error message"
**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-02-07 16:03] LeilaPiri commented on #47
<img width="483" alt="Amplitude" src="https://user-images.githubusercontent.com/54840627/74044652-aabe2c00-49cb-11ea-81b7-4773dc3ecbb8.png">

Set a default for duty_cycle (T_ons(highs) /T_total)= 0,5 (User should be able to reset new value)
Function should look like this for 2 analog outputs:
1. output1_pwm (high, low, frequency, repeats, duty_cycle)
2. output2_pwm (high, low, frequency, repeats,

[2020-02-09 14:37] IngoKaiser commented on #48
Whats meant by this is: Reading from Hardware-Buffer can only be done once at a time (otherwise clocking would cause weird behavior), we should add handling for that.

We could add this by requesting `EnableADmes` over SPI before sending own one and returning error if this is already 1. Would it work with two SPI instances? Or would that even be another indicator? Ideas please.

[2020-02-09 14:44] IngoKaiser commented on #47
For toggling on/off for Analog out on 3/4 we use `DACsw`.

We should have two ways setting AOUT3/AOUT4: First is just static High/Low, other is PWM just like @LeilaPiri has described above.

@iluxa We need to be able to set repeats of pwm e.g. for stepper engine. What do you think about dealing multiple commands from user? Restarting every time when new command arrives? Chaining?

Or even having A

[2020-02-09 14:46] IngoKaiser commented on #45
@iluxa we should add new method therefore. with resulting fps in `Start` callback then - default is 48k.

[2020-02-09 19:26] IngoKaiser commented on #9
@begodev please give me short feedback about current state on that.

[2020-02-09 19:30] IngoKaiser commented on #11
Since its needed to access os for that we should stick to current implementation. Busy wait would increase cpu workload if I got it right. We might get to this later again - @iluxa undo pr please.

[2020-02-09 19:50] IngoKaiser commented on #22
@iluxa We will get a third node - therefore please change setSecondary to setMode with new inputs (0=IEPE/DMS according to board - can be seen in eeprom, 1=NORM, 2=DIGITAL - we will come to that later)

Each mode will result in a different SPI Message.
Please ping me for message content when this is ready.

Please delete setbridge - we will do that and some others with setsettings,

Also no need f

[2020-02-09 19:52] #24 closed

[2020-02-09 19:55] IngoKaiser commented on #30
@begodev please give short notice about current state and code snippet on storing/reading data according to atom structure.

@iluxa could you please confirm testing reading eeprom from pi?

[2020-02-09 19:56] IngoKaiser commented on #31
@iluxa plesse confirm errors are not showing up any more?

[2020-02-09 19:57] #39 closed

[2020-02-09 20:08] IngoKaiser commented on #35
@iluxa also according to that - should we replace division by multiplication for performance reasons?

[2020-02-09 20:20] IngoKaiser opened #49 "Add buffer output"
Its already implemented in our node-red module. Please add method ("SetBufferSize"?!) to set amount of data to be buffered before send to start callback - e.g. 48k would sent buffered data array every second. If defined number is smaller than received chunk - it would be ignored.

[2020-02-10 14:12] iluxa commented on #48
maybe It is better to add a general-purpose locking system based on lock files into the library (/var/lock)

[2020-02-10 14:34] iluxa commented on #47
If `output1_pwm` and `output2_pwm` going to be implemented as API driver function it is possible to limit their usage before `Start` call, user can exex sequence like `Init` -> `output1_pwm` -> `Start` -> `Stop` -> `output2_pwm` -> `Start`

or is it going to be implemented as interactive functions during `Start` is active?

[2020-02-10 14:40] IngoKaiser commented on #47
I guess it would be nice having it independent from Start would be good.

One general question: Can methods of TimeSwipe been called from main or also within callbacks?

[2020-02-10 14:43] IngoKaiser commented on #48
so trying to run lib would result in error when another instance is already using it? Would that be most simple/stable implementation? @begodev any additional thoughts?

[2020-02-10 14:43] iluxa commented on #47
Not all methods can be called from callback (like init methods),
for examle `Stop` can be called from any callback.

[2020-02-10 14:46] iluxa commented on #48
yes, lock for library instance
This is the most simple implementation because it is a widely used pattern for any type of application

[2020-02-10 15:22] iluxa commented on #35
yes, replacing division with multiplication should increase the performance

[2020-02-10 18:15] i5abell opened #50 "New Menu Structure"
@begodev: Please implement the new menu structure as shown in the pdf. If there are any questions, please ask.

[Menu Overview_11_02_2020.pdf](https://github.com/panda-official/TimeSwipe/files/4184680/Menu.Overview_11_02_2020.pdf)
**Definition of Done**
- [ ] code for mentioned task is complete. examples & documentations are complete.

- [ ] build chains are tested

- [ ] corresponding branch is c

[2020-02-10 20:03] IngoKaiser commented on #48
@iluxa what would be result trying to open second instance - proper error message?

[2020-02-10 20:08] iluxa commented on #48
API call for second instance get fails and print some message to stderr

[2020-02-10 20:12] IngoKaiser commented on #48
so onError would fire - or just global err?

[2020-02-11 02:52] begodev commented on #30
Hello.
CHatsMemMan class in the HATS_EEPROM branch ( /src/HATS EEPROM, HatsMemMan.h, HatsMemMan.cpp) provides very basic functionality for retreiving/storing atoms from the binary blob.

Here is a snippet:

<pre><code>
#include "HatsMemMan.h"

//First of all a binary image has to be loaded in a FIFO buffer, for example:

auto pEEPROM_MemBuf=std::make_shared<CFIFO>(); //create a buffer
//add some b

[2020-02-11 06:14] iluxa commented on #48
After the user application made the first API call to the library (driver) - lock file is created with PID number of the user app
if another app tries to make any API call - library checks that lock file exist and correspond PID is alive then this call fails with global error

[2020-02-11 06:28] iluxa commented on #31
Last time I tested there were errors (before merge)
Where can I test it now?

[2020-02-11 07:31] IngoKaiser commented on #48
Ok, let’s give it a try. When first api call is closed lock file will be deleted right?

[2020-02-11 07:31] IngoKaiser commented on #31
Please ping @begodev therefore and give feedback when tested.

[2020-02-11 09:10] begodev commented on #48
Would it be possible just to add a kind of Spin Lock (Mutex, Critical Section) inside the calling methode: then another instance will wait until the first one complete the request?

[2020-02-11 09:11] begodev commented on #48
Then a number of instances could run simultaneously?

[2020-02-11 09:16] IngoKaiser commented on #48
Hmm would make it more complicated atm, since what's "completed request" then?
I guess it would be nice in further steps to have shared memory - so if one is fetching data, other instances could also access that. But no need for now.

[2020-02-11 09:24] begodev commented on #9
At the moment a temperature sensor class is implemented for the SAM (Branch Issue 9).
But it seems temperature readout is not really precise - it has markable dispersion.
As I remember +- several degrees.

[2020-02-11 09:27] IngoKaiser commented on #9
Do you think that's an software issue or precision of temperature sensor?

[2020-02-11 10:45] begodev commented on #9
I think it is because the way it is calculated: it is actually a ratio of 2 measured points. They have to be measured very precisely via SAM's ADC...
I'm trying to find some precision specs in the manual, but it is only written "The accuracy is dependent on the current temperature, and degrades towards extreme conditions."
But no any certain numbers...

I remembered I get +- several degrees, ther

[2020-02-11 11:43] begodev commented on #48
I mean an atomic transfer for the board: send a request, wait, return the data received. And the current instance blocks the bus, for example, with a mutex. Of course, all this concerns SPI communication only. Not for other driver's activity.

[2020-02-11 11:45] IngoKaiser commented on #9
since we just wanna use it for fan control. some degrees won't make a difference.
So since temp class is implemented just fan controller according @LeilaPiri requirements would need to be implemented right?

[2020-02-11 12:31] IngoKaiser commented on #48
Ok, this would also need to be done for memory controller then.

Let’s go for global locking for now. @iluxa will that approach also work for instances from py, js, cpp - with prebuilt binaries?

[2020-02-11 12:41] iluxa commented on #49
Added `SetBurstSize` API call according to requirements
PR: https://github.com/panda-official/TimeSwipe/pull/51

[2020-02-11 12:41] iluxa commented on #49
Not tested, need environment to test

[2020-02-11 12:50] iluxa commented on #48
Yes, for any instances - will be on the library level
One limitation for this solution read-write filesystem is required, so it will not work on systems without filesystem or read-only filesystem

[2020-02-11 14:31] IngoKaiser commented on #48
since we're running on linux anyway - this shouldn't be a problem I guess.

[2020-02-11 15:09] begodev commented on #9
Yes exactly, fan controller with PWM output

[2020-02-11 19:30] iluxa commented on #49
Tested on RPi with hardware

[2020-02-13 17:49] pmalessa commented on #12
Driver Documentation Generation from Doxygen:
example: https://phoggy.github.io/TimeSwipe/annotated.html
have a look at my fork of TimeSwipe: https://github.com/PhoGGy/TimeSwipe/blob/doxygen/.github/workflows/main.yml
This is a working Github Action to build the Doxygen Documentation from every push and upload it to the gh-pages branch, from where it gets automatically deployed to GitHub.io

[2020-02-18 14:17] mhechthz opened #52 "timwswipe for python or node-red on windows"
Hi,

I'm not sure wether this is the right channel for communication but I didn't find a better place.

I wanted to install the timeswipe access for a windows system on an up-to-date 64-bit python or the latest node.js/node-red. Both failed (pip install timeswipe or npm install timeswipe).

Did anyone manage to install one of the mentioned libraries on a windows system?

[2020-02-18 14:18] mhechthz opened #53 "timeswipe for python or node-red on windows"
Hi,

I'm not sure wether this is the right channel for communication but I didn't find a better place.

I wanted to install the timeswipe access for a windows system on an up-to-date 64-bit python or the latest node.js/node-red. Both failed (pip install timeswipe or npm install timeswipe).

Did anyone manage to install one of the mentioned libraries on a windows system?

[2020-02-18 14:20] #52 closed

[2020-02-19 08:24] iluxa commented on #45
Initial implementation is on the branch [issue_45](https://github.com/panda-official/TimeSwipe/tree/issue_45)
implementation is based on https://github.com/terrygta/SignalResampler
with padding

tested on RPi without triangular signal - CPU CORE usage is incremented about 10-15%
Future activities: test with triangular signal; memory copiyng optimizations

[2020-02-19 12:03] iluxa commented on #45
Tests with triangular signal:

![Without resample](https://user-images.githubusercontent.com/1526529/74832603-ba713500-5328-11ea-8a22-44b2bfa72547.png)
![with 24K resample](https://user-images.githubusercontent.com/1526529/74832621-c65cf700-5328-11ea-97c0-dfa54ac23ae8.png)
![with 5K resample](https://user-images.githubusercontent.com/1526529/74832630-cd840500-5328-11ea-8b0a-2a61c9fd2b49.png)

[2020-02-19 12:04] iluxa commented on #45
First without resample
Second with 24K resample
Third with 5K resample

[2020-02-20 05:35] iluxa opened #54 "driver and DataLogging example fails to build on macOS"
driver/contrib/OSX/README.md need to be updated

[2020-02-20 09:43] iluxa commented on #47
Here 3 new API call suggested for PWM generator:
[code]

What max frequency value must be supported?

[2020-02-20 13:41] iluxa commented on #30
Here is a working application which read eeprom from device file and parses structures using API on timeswipeOS RPi:

[code]

The output is:
[code]

It seems to be working correct so far

[2020-02-20 16:18] iluxa commented on #31
tested on RPi with timeswipeOS
still getting error `protocol error: !obj_not_found!`

[2020-02-20 20:37] begodev commented on #49
Failed to build the driver on Debian-9 with default settings because of errors during compilation (too old compiler?)
Going to build it on latest Ubuntu...

[2020-02-21 06:45] IngoKaiser commented on #53
Hey @mhechthz,
Since this module is for accessing Timeswipe HAT for Raspberry Pi with GPIO. Prebuilt binaries are prepared for ARM 32bit and ARM 64 OS. So it’s not possible to run on windows.

[2020-02-21 07:24] IngoKaiser commented on #49
@iluxa what happens when no burstSize is set?

Expected behavior would be 48k samples per second

[2020-02-21 07:30] iluxa commented on #49
if  SetBurstSize not called, it is default behavior - call ReadCallback as soon as possible

[2020-02-21 07:32] IngoKaiser commented on #49
sure, you're right

@begodev when checked, please merge to master, @iluxa building driver is easiest with docker for target right? :)

[2020-02-21 07:35] iluxa commented on #49
yes, the easiest way to build the driver - from docker,
instructions are in driver/Readme.md

[2020-02-21 07:38] IngoKaiser commented on #45
@mkh-welsch expected result?

[2020-02-21 07:56] iluxa opened #55 "Read EEPROM from the driver and apply related settings"
**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-02-21 08:04] IngoKaiser commented on #55
when the calibration station is ready, an additional calibration atom is created. From this, the appropriate conversion can be taken according to the pid and settings for gain and supply voltage.

so setGain will be dine automatically - user will not have access later.
so first step would be to read, second to set according setting

[2020-02-22 09:25] mkh-welsch commented on #45
<img width="490" alt="image" src="https://user-images.githubusercontent.com/24566838/75089863-67cc8e80-555d-11ea-9581-854100257488.png">
<img width="496" alt="image" src="https://user-images.githubusercontent.com/24566838/75089865-6dc26f80-555d-11ea-89e7-6f3e2cb08a2b.png">
looks like the instability, we try to avoid with the padding. try to increase the padding size.

[2020-02-22 09:26] mkh-welsch commented on #45
@iluxa : maybe dynamically increase the padding size with lower resample rate.

[2020-02-22 10:50] mkh-welsch commented on #45
effect of not using paddings during resampling.
<img width="633" alt="image" src="https://user-images.githubusercontent.com/24566838/75091032-525d6180-5569-11ea-9605-2b40c90e45a6.png">

top: original without resample
middle: resampled without using padding logic
bottom: resampled with padding.

[2020-02-23 22:00] begodev commented on #49
I've tested Data Logging example: it gave 4x12000 samples in a timespan less than a second (normally 0.2sec, but sometimes up to 0.7 sec).

I found some minor issues in the example itself (not in the driver) in my opinion:
1. if  config.json is missing the application is terminated with a JSON exception
2. the application is always finished with "a terminate called without an active exception"
(do

[2020-02-24 10:18] iluxa commented on #47
according to tests sending `AOUT4.raw<` SPI command takes about 17ms, so the maximum frequency (1/T_total) is about 30Hz
@mkh-welsch is that enough?

[2020-02-24 10:40] mkh-welsch commented on #47
why is the maximum frequency dependent on the SPI transmission? the command is only transmitted once.

[2020-02-24 11:34] iluxa commented on #47
To enable mode `DACsw` command need to be send
Then for each switch between high/low level `AOUT3.raw<` or `AOUT4.raw<` command need to be send via SPI.

[2020-02-24 17:02] iluxa commented on #45
https://github.com/panda-official/TimeSwipe/commit/faec13067c993560de034296f4a68270429e02d3
dynamic padding size is implemented

[2020-02-24 17:04] iluxa commented on #47
`output_pwm` need to be implemented on firmware side to make pwm independent on the SPI transmission

[2020-02-24 21:14] IngoKaiser commented on #47
@begodev please have a look on implementation of a output_pwm in firmware. any questions?

[2020-02-25 09:05] begodev commented on #47
Yes, I think it is better to implement it in the firmware...
For timing accuracy one of the hardware timers can be used for example (if its required).
What does  the output number parameter mean?

[2020-02-25 09:13] mkh-welsch commented on #47
the channel number. only 2 of the 4 outputs can be set to manual mode.

[2020-02-25 09:18] iluxa opened #56 "DataLogging abnormal termination"
Message on exit
[code]

it seems thread not terminated at exit

[2020-02-25 12:56] iluxa commented on #45
https://github.com/panda-official/TimeSwipe/commit/80c31d1f8a7bbbb37539708f7a9c8c471e129264
constant size slices

[2020-02-25 13:35] iluxa commented on #49
https://github.com/panda-official/TimeSwipe/issues/56 created

[2020-02-25 13:37] #49 closed

[2020-02-25 13:53] iluxa commented on #54
Also add to documentation (Readme.md) how to cross-compile on Ubuntu 64bit and 32bit

[2020-02-25 15:28] iluxa opened #57 "SPI communication sometimes takes too much time for reading sensor thread"
This code slows down
[code]
It seems separate thread for SPI needed or async SPI API

[2020-02-25 15:31] iluxa commented on #57
@begodev Since send to SPI can require 17ms, is it not hard to implement async communication with SPI? For example send, then poll time to time whether it sent?

[2020-02-25 15:33] iluxa commented on #57
I almost implemented separate thread while making https://github.com/panda-official/TimeSwipe/issues/47 but  #47 is moved to firmware

[2020-02-25 23:18] begodev commented on #57
Yes it is possible, but please note that "send" actually performs a full transfer sequence: send request and wait for response.
And "receive" just returns the buffered answer from the board.
During whole transfer sequence it is necessary to provide a SPI clock on the bus. Then poll function should be responsible for SPI clock. Also the CS should be released at the end of the transfer. It is all do

[2020-02-25 23:47] begodev commented on #47
According to TimeSwipe/docs/Communication/CommunicationProtocol.md conception I propose the following variables to control the PWM:

For the first chanel: domain PWM1,
for the second - PWM2

the domain variable holds on/off state itself:

for example to start PWM1:  PWM1<1, to stop: PWM1<0.
get actuall state of PWM1: PWM1>

to control the waveform:

PWMx.frequency
PWMx.high
PWMx.repeats
PWMx.duty_

[2020-02-26 05:56] IngoKaiser commented on #47
That’s almost fine. Just what about start/stop?
How does that relate to PWMx.repeats?

[2020-02-26 06:08] iluxa commented on #55
Read EEPROM implementation: https://github.com/panda-official/TimeSwipe/pull/58
Further instructions needed how to convert EEPROM data to Settings

[2020-02-26 08:35] begodev commented on #47
I think it should give a burst of pulses=repeats, and then automatically switch to "stopped" state, or generate PWM continuously if repeats=0 for example.

Maybe it is better to rename "repeats" into "periods"

Before start all of the parameters should be set. Or previously set parameters  will be used.

Then just send
PWM1<1 - to start the generation. If PWMx.repeats=10 for example a burst of 10

[2020-02-26 10:05] iluxa commented on #55
Merged https://github.com/panda-official/TimeSwipe/pull/58 - it also fixes driver build

[2020-02-26 13:13] begodev commented on #31
I've built test_spi from the actual driver sources (with reduced speed=50.000Hz).
It gives no error so far: 10.0.0.12:/root/vnk/test_spi

[2020-02-26 16:52] iluxa commented on #54
https://github.com/panda-official/TimeSwipe/pull/59
fixed OSX build, tested on OSX

[2020-02-27 05:55] #30 closed

[2020-02-27 05:55] #40 closed

[2020-02-27 06:39] iluxa commented on #56
https://github.com/panda-official/TimeSwipe/pull/60 Join thread at `Stop`, call stop in distructor fixes the issue

[2020-02-27 11:42] iluxa opened #61 "Artifacts at the data begin"
It happens unrelated to resampling or burst
![Screenshot from 2020-02-27 14-39-17](https://user-images.githubusercontent.com/1526529/75441835-6c36e400-596f-11ea-800f-c81434d0aeb9.png)
![Screenshot from 2020-02-27 14-42-03](https://user-images.githubusercontent.com/1526529/75441841-6f31d480-596f-11ea-90f9-f4a438be4291.png)

**Definition of Done**

- [ ]   code for mentioned task is complete. exampl

[2020-03-02 00:02] begodev commented on #8
The code is generally finished but the SAM's fuses has to be set from OpenOCD to enable the Smart EEPROM

[2020-03-02 09:28] #54 closed

[2020-03-02 09:44] LeilaPiri commented on #8
**Definition of Done**
- [x] task mentioned in issue is solved. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-03-02 13:21] iluxa commented on #45
PR for merge
https://github.com/panda-official/TimeSwipe/pull/62

[2020-03-02 13:21] #45 closed

[2020-03-02 14:05] begodev commented on #56
Driver and Data Logging example were built on Debian-10. The application is finished normally

[2020-03-02 14:35] #56 closed

[2020-03-02 14:56] begodev opened #63 "JSON parser sometimes fails in Data Logging example"
![image](https://user-images.githubusercontent.com/52575842/75687536-ff915180-5cae-11ea-8aa3-564c8f620266.png)

Definition of Done

- [x]   code for mentioned task is complete. examples & documentations are complete.

- [x]   build chains are tested

- [x]   corresponding branch is closed

- [x]   merging is done

[2020-03-02 15:01] begodev commented on #63
Driver & Data Logging Example were built on Debian-10...

[2020-03-02 15:29] iluxa commented on #31
tested test_spi built on current master on Raspbian 32bit and timeswipeOS 64bit
both works without errors for a long time (>10 mins)

[2020-03-02 15:51] iluxa commented on #57
PR: https://github.com/panda-official/TimeSwipe/pull/64
neet to test whether button works after this change

[2020-03-03 10:33] iluxa commented on #48
PR https://github.com/panda-official/TimeSwipe/pull/65

[2020-03-03 10:35] iluxa commented on #63
It seems to be issue with encoding
@begodev can you attach corresponding json file please?

[2020-03-03 10:57] begodev commented on #63
[config.json.zip](https://github.com/panda-official/TimeSwipe/files/4280886/config.json.zip)

the file is taken from 10.0.0.12/root/vnk

[2020-03-03 12:26] iluxa commented on #63
Attached file doesn't produce any errors
Maybe this file has been saved in Windows in some encoding like UTF-16, then copied to RPi
It seems encoding detection needed and check if a file exists.

[2020-03-03 12:59] iluxa commented on #35
PR https://github.com/panda-official/TimeSwipe/pull/66
changed gains and transmissions to float, replaced division to multiplication on sensors read
performance looks same, maybe because of compiler optimizations

[2020-03-04 17:48] iluxa commented on #61
Before the fix driver skip only first bundle of data read (usually 64 values)
According to the tests about the first 900 values makes an "artifact"
It is not specified how much data to skip, it seems that depends on the hardware resampler
it must be specified and put to constant `clearFirst`

PR: https://github.com/panda-official/TimeSwipe/pull/67
`clearFirst` set there to 1000

[2020-03-04 17:56] iluxa commented on #47
@begodev can you please explain what needs to be reviewed here

[2020-03-05 11:19] iluxa commented on #63
Added open file and parse exception handlers: https://github.com/panda-official/TimeSwipe/pull/68

I couldn't reproduce errors from the screenshot: tried run example on RPi several times without any errors.

@begodev Can you please test again and ping me when you get this error again

[2020-03-05 22:56] begodev commented on #47
@iluxa the new firmware API can be tested according to CommunicationProtocol.md + generation (PWM waveform) in software polling mode like itis now

[2020-03-06 12:27] iluxa commented on #47
pushed commit with PWM implementation in the driver and pwm example application: https://github.com/panda-official/TimeSwipe/commit/11acf5d6416d0c592e859072251f0b1846a981f5

@begodev Is anywhere firmware available with PWM features to test?

[2020-03-06 13:29] begodev commented on #57
Which button do you mean?
What communication speed should be normal?

[2020-03-06 13:37] iluxa commented on #57
button state wich received from json event `je>`

shouldn't no be any information skip (without burst and without resampling) - 48K samples/s

[2020-03-06 15:51] begodev commented on #47
PWM firmware is currently available @10.0.0.12

[2020-03-06 16:18] begodev commented on #63
Ok, with try/catch blocks added it seems the software is working properly.

[2020-03-06 23:46] begodev commented on #48
Couldn't test DataLogging (non static) on Timeswipe because dpkg is missing? (couldn't install the package).

[2020-03-07 00:05] begodev commented on #48
Has anyone got the same problem? Or it is a problem of my laptop only?

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.4 LTS
Release:	18.04
Codename:	bionic

Linux vnk-VirtualBox 5.3.0-28-generic #30~18.04.1-Ubuntu SMP Fri Jan 17 06:14:09 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-03-07 01:16] begodev commented on #48
On Raspbian it seems pid file lock is working properly

[2020-03-08 10:58] iluxa commented on #47
Tested pwm API on 10.0.0.12

Everything looks ok, except:
for some PWM commands if `CBcmSPI.receive` called right after `CBcmSPI.send` (without sleep or 3rd party io call like print to stdout between two calls) `receive` returns false. How to check: call `pwm_static` with `get` parameters and with `get --trace-spi` parameters
actual `pwm_static` is at 10.0.0.12/root/ilya/issue_47

[2020-03-09 12:27] begodev commented on #47
Actually CBcmSPI.receive just returns the bufer with responce filled by CBcmSPI.send, so shouldn't be any problem or influence of sleep or printf calls if send and receive are runing the same thread...

[2020-03-09 21:52] begodev commented on #55
bool TimeSwipeEEPROM::Read(std::string& error) is working, but would be good to have the atoms as function's output.

[2020-03-09 22:03] begodev commented on #35
Would it be possible to send already pre-calculated (gain x transmission)=mfactor instead of sending them to the convertChunkToRecord separately?
I think it could remove one FMUL instruction

[2020-03-10 07:41] iluxa commented on #35
replaced gain*transmission with mfactor on https://github.com/panda-official/TimeSwipe/commit/1f1dd9ce2b063a58a8346c1f8353d090b82437d7

[2020-03-10 08:14] iluxa commented on #55
I don't think the driver (timeswipe.cpp) should think in terms of `CHatAtom*` structures, the idea is to convert information from atoms to settings like gains

@IngoKaiser do we need to set according settings from EEPROM to the driver in the scope of this issue?

[2020-03-10 09:34] IngoKaiser commented on #55
@iluxa no, lets create new issue with read from EEPROM and set settings for backlog.

@begodev that does not need to be accessible for user. So I guess we will just use it from read to be flexible and reduce workload.

[2020-03-10 09:34] #55 closed

[2020-03-10 09:59] iluxa opened #69 "Setup driver settings from EEPROM information"
**Definition of Done**
- [ ] code for mentioned task is complete. examples & documentations are complete.

- [ ] build chains are tested

- [ ] corresponding branch is closed

- [ ] merging is done

[2020-03-10 10:00] iluxa commented on #55
https://github.com/panda-official/TimeSwipe/issues/69

[2020-03-10 14:32] #48 closed

[2020-03-10 14:32] #8 closed

[2020-03-10 14:49] #63 closed

[2020-03-10 17:39] IngoKaiser commented on #47
@begodev could you please check and clarify with @iluxa?

[2020-03-10 17:45] iluxa commented on #47
Actually CBcmSPI.receive just returns the bufer with responce filled by CBcmSPI.send, so shouldn't be any problem or influence of sleep or printf calls if send and receive are runing the same thread...

[2020-03-10 23:52] begodev commented on #47
I looked into board_iface.hpp: "true" and "false" are not allowed in simple commands.
It is some mixup with JSON. "true" and "false" came from it. But initially they are processed by std::stoi, so they should be "1"=true (bool) and "0" =false (bool). Otherwise !stoi exception is returned.

[2020-03-10 23:59] begodev commented on #47
So there are two independent parses exist...I can add "true" and "false" support along with "1" and "0" to the older one as a solution...

[2020-03-11 05:38] iluxa commented on #47
true and false are not present in the last commit of the branch

[test_spi_pwm.zip](https://github.com/panda-official/TimeSwipe/files/4316218/test_spi_pwm.zip)

Attached test_spi_pwm compiled with optimization (`-O2`) for aarch64 prints out error 8 times from 10 runs on 10.0.0.12. Binary path is `/root/ilya/issue_47/test_spi_pwm`

[2020-03-11 12:02] begodev commented on #47
The problem can also be that CS (chip select) needs some time to rise and fall physically. It depends on circuit RC values. I put additional delay after CS rise at the end of the transfer which corresponds to one period of communication frequency (20 microSeconds)

[2020-03-11 12:31] iluxa commented on #47
Tested it, `pwm` sample working without issues

[2020-03-11 14:01] begodev commented on #47
think has to be tested also with a stepper motor driver. For low frequencies it should be ok, bu t for higher maybe hardware timer ticks is required...

[2020-03-11 14:05] IngoKaiser commented on #47
@begodev can you specify expected frequency level?

[2020-03-11 15:13] #35 closed

[2020-03-11 15:28] begodev commented on #47
PWM half-period switch time is about 14uS now. So when only both PWMs are running they can give up to  10kHz(superloop execution time of 30uS is included) if no other tasks are running. But now the frequency is limited by sys timer accuracy =1mS=1kHz.
Other tasks running can decrease the maximum frequency. But I have to measure the time consumption in worst case for each task in the superloop. Tom

[2020-03-11 15:39] begodev commented on #47
Or otherwise I can just drive them from the hardware timer interrupt routine.
What maximum frequency is required for the motor driver?

[2020-03-11 15:53] IngoKaiser commented on #47
@begodev Should run with dma anyway to not have an impact on other features and backwards.

[2020-03-11 16:45] thomaseichhorn commented on #47
The frequency we need depends a bit on the load which will be placed on the motor. As a ball-park figure, we will most certainly need at least 1kHz. The motor driver can handle up to ~20 kHz, so I don't think we will need anything beyond that.

[2020-03-11 20:01] begodev commented on #47
Then I think Ingo is right, DMA support has to be added. Otherwise it seems the CPU load becomes quite high...

[2020-03-11 20:04] IngoKaiser commented on #47
@begodev How long will you need - didn’t think one would do it differently 😜

[2020-03-11 20:14] begodev commented on #47
I just choose the simplest and fastest solution, because initially it was supposed to generate PWM by external commands what cannot be fast and I went further along this.

[2020-03-11 20:18] begodev commented on #47
I'll try to finish this week...hopefully

[2020-03-11 21:17] #53 closed

[2020-03-11 21:21] IngoKaiser opened #70 "Restructure driver output"
@iluxa as we just have talked about, please make suggestion for data structure for column (signal)-wise data output.

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-03-12 12:31] iluxa commented on #34
Added configuration to githab workflow for [TimeSwipe](https://github.com/panda-official/TimeSwipe) repo([Actions](https://github.com/panda-official/TimeSwipe/actions)) and [TimeSwipe.js](https://github.com/panda-official/TimeSwipe.js) repo([Actions](https://github.com/panda-official/TimeSwipe.js/actions))

On each push to the master branch CI tries to build all packages - the result is displayed

[2020-03-12 13:00] iluxa commented on #22
@IngoKaiser Can you please explain
setMode - what this function should do? And what is the format?

Which SPI messages?

[2020-03-13 06:56] iluxa commented on #69
EEPROM has vendor string, we can map each vendor string to settings set:

"TimeSwipe NORM" => Mode 0; Offsets 0,0,0,0; Gains 0,0,0,0; Transmissions 1,1,1,1
"TimeSwipe IEPE" => Mode 1; Offsets 0,0,0,0; Gains 0,0,0,0; Transmissions 1,1,1,1
"TimeSwipe DMS" => Mode 2; Offsets 0,0,0,0; Gains 0,0,0,0; Transmissions 1,1,1,1
and so on

- This map should be hardcoded in the app
- Once applications starts i

[2020-03-13 09:23] IngoKaiser commented on #69
Hey @iluxa

Quite good, but adoption is needed:
I hope I can make it clear: we have two different boards. Both have a basic (primary) measurement principle (DMS or IEPE). Both can also process Normsignals (second principle) and we are introducing a third principle to be able to read digital inputs.

In Vendor Information we find Product id- this tells if board is DMS (0) or IEPE (1)

Mode is more

[2020-03-13 15:36] iluxa commented on #69
@begodev Is there issue created for product id(for DMS and IEPE) in vendor information and calibration atom in EEPROM?
There should be Mode access point implemented too.

[2020-03-13 15:58] begodev commented on #69
Why it has to be hardcoded? Why just don't read the corresponding ATOM from the EEPROM?

[2020-03-13 16:00] begodev commented on #69
At the moment "SetGain" and "SetTransmission" act as divisors. Is it correct?

[2020-03-13 16:01] begodev commented on #69
No. Should I creaate it?

[2020-03-13 16:05] iluxa commented on #69
yes.

We can use share this issue, I can work in related issue#22

[2020-03-13 16:06] IngoKaiser commented on #69
Yes - what’s the point? 😉

[2020-03-13 16:14] begodev commented on #69
Just a bit confusing for me: I imagine gain and transmission as factors (multipliers)

[2020-03-13 16:16] begodev commented on #69
ok

[2020-03-15 09:02] iluxa commented on #22
Pushed current changes to [branch](https://github.com/panda-official/TimeSwipe/tree/issue_22)
Waiting for Mode implementation and calibration EEPROM atom on firmware side in [issue 69](https://github.com/panda-official/TimeSwipe/issues/69)

[2020-03-17 01:07] begodev commented on #47
The generation of 20 kHZ was achieved with intermediate solution of using 1 hardware 32bit timer per PWM. Because the timer module is required   to trigger DMA channels anyway. So it is one of the parts. In complete scheme I think 2 DMA channels, 1 triggering  timer and 1   period(repetions) counter driving by the event system is required to run PWM without using CPU.
At the moment at with maximum

[2020-03-17 12:11] #31 closed

[2020-03-17 12:53] iluxa commented on #70
instead of Record data structure used in TimeSwipe atm:
[code]
we can implement class contains bulk sensor data with random access to sensor and data each element:
[code]
so, `SensorsData[i]` is vector of data of sensor `i`

[2020-03-17 17:20] IngoKaiser commented on #70
I think that's fine @iluxa

[2020-03-18 22:31] begodev commented on #22
"Mode" AP is added...

[2020-03-19 05:41] iluxa commented on #70
https://github.com/panda-official/TimeSwipe/pull/71

[2020-03-19 15:36] #70 closed

[2020-03-20 08:41] IngoKaiser commented on #34
@iluxa would you also update Timeswipe.py and add Actions?

[2020-03-20 08:48] iluxa commented on #34
Yes, will update today

[2020-03-20 14:29] i5abell opened #72 "Integration of visualization optimization"
Branch visualization_opt has to be merged to master.
Things that have been implemented:
- a defined minimum range for resetting the range boarders (2*min_dist)
- a sensor recognition by start range (min_wind) surpassing
- visualization only on channels for which a sensor is recognized

@begodev : Please check. I changed the function m_pLED->get_zerob_ind() in nodeLED.h from protected to public, to

[2020-03-20 14:51] IngoKaiser commented on #72
@begodev @thomaseichhorn we need to add 2 things:
1. please try setting offset of half of brightness to leds once they have passed initial limit - so we can see direction of changing (+/-) and not only level
2. when sensor is disconnected, LED jumps on highest level - how to get back on 0?

[2020-03-23 11:56] begodev commented on #47
DMA generation mode is added. Now both generation schemes are available depending on CDacPWMht::mode parameter in CDacPWMht ctor

Limitations:
1)  PWMx.repeats <= 65535
2) Changing of PWMx.repeats during generation running will not affect current generation but will be applied for the next one after restart.

[2020-03-23 12:17] begodev commented on #47
What can be done else:
1. full-weight Event System module (not implemented)
2. some enhancement in CSamTC class (more interface methods encapsulating hardware details)

[2020-03-24 12:52] IngoKaiser commented on #61
this should be a hardware issue

@thomaseichhorn - could you provide access to one of the new boards (0.4.2) for @iluxa to recheck issue there? then we can just discard pr

[2020-03-24 12:56] thomaseichhorn commented on #61
I can check this here with one of the new boards and try some values of clearfirst... I'll report back asap.

[2020-03-24 13:34] thomaseichhorn commented on #61
As it turns out, this is a hardware issue which is fixed from board versions 0.4.2 onwards. Attached is the resulting plot when using the previous default (aka no clearfirst):
![default](https://user-images.githubusercontent.com/7010830/77431040-6e5c5900-6ddc-11ea-93b1-6324befe9572.png)

[2020-03-24 13:38] #34 closed

[2020-03-24 13:38] IngoKaiser commented on #61
@iluxa would you please discard pr #67 - thanks for investigation!

[2020-03-24 13:38] #61 closed

[2020-03-24 23:08] begodev commented on #72
The key idea that CDataVis class object represents a single visualization channel. So there are already 4 objects exist. Each with its own set of variables.Thats why in my opinion senscon_chan[(m_pLED->get_zerob_ind())] can be replaced just with a member variable like bool m_senscon_chan or of any other name.

[2020-03-24 23:48] begodev commented on #72
Maybe the middle brightness should be binded with the middle of the dynamic window. But maybe it worth to visualize the deviation from the middle point? With increasing brightness to the both sides? And using different colors? For example mixing green for + deviation and red - for -?
But I think it is a question what exactly is required to visualize . Level is one thing, deviation from the middle

[2020-03-24 23:56] begodev commented on #72
A condition may be that the signal level drops out of the dynamic window, for example, by a distance several times greater than the window-> reset window

[2020-03-25 10:35] LeilaPiri opened #74 "CalFW: Copy current Production firmware and simplify"
Components to remove:

- [x] Visualization of Measurement Values
- [x] Menu Control via Button incl. Visualization on LEDs
- [x]  Blinking after Startup
- [x]  Setting a marker
- [x]  Differentiation between Short/Long/Double Click, only single short click needed

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are teste

[2020-03-25 10:37] LeilaPiri opened #75 "Extend "adjust settings" function"
- The rPi sends a configuration/settings to the SAM
 - js<{„SetSecondary“ : ..,
     „Gain“ : ..,
	 „DAC1.raw“ : ..,
	 „DAC2.raw“ : ..,
	 „DAC3.raw“ : ..,
     „DAC4.raw“ : ..,
	 „Voltage“ : ..,
	 „Current“ : ..,
	 „MaxCurrent“ : ..,
	 „DACsw“ : ..
	}
 - Voltage, Current and MaxCurrent option have to be added.

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentat

[2020-03-25 10:38] LeilaPiri opened #76 "CalFW: Measure and send Result via SPI"
- the rPi sends the requested measurement mode (ADC 1-4, current/voltage, samplerate):
 - js<{"MeasMode" : 0/1 for current/voltage,
       "MeasChannel" : Bit combination of 4 bit to select a combination of ADC1-4,
	   "MeasRate": sample rate in Hz
	  }
 - the rPi sends a command to start Measurement with a fixed duration in ms:
 - js<{„MeasStart“ : t}
 - The SAM measures the selected channels and

[2020-03-25 10:39] LeilaPiri opened #77 "Measure Temperature"
- Command from rPi: js>["Temp"]
 - SAM measures the internal Chip Temperature, maybe with filtering?
 - SAM responds with {"Temp": 23.4} Temperature in Degrees Celsius as Float

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-03-25 10:39] LeilaPiri opened #78 "Check Calibration Status"
- rPi sends a Calibration Status Request: js>["CalStatus"]
 - SAM reads Calibration Status from EEPROM and responds with status {"CalStatus": 0/1}
 - Suggestion: Save a known Bit Sequence instead of a single Bit inside EEPROM, e.g. 0xFEED if set

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] correspon

[2020-03-25 10:40] LeilaPiri opened #79 "CalFW: ext. EEPROM R/W Test"
- rPi sends a start signal to the SAM: js>["EEPROMTest"]
 - SAM writes defined testdata to EEPROM and reads it back.
 - SAM responds: {"EEPROMTest": 0/1} if failed/successful
 - Data to write to the EEPROM can be arbitrary but fixed

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch i

[2020-03-25 10:40] LeilaPiri opened #80 "CalFW: Save Calibration Data"
- rPi sends calibration data: js<{"CalData" : ...}
 - not defined yet
 - SAM saves data to EEPROM, reads it back and compares and responds if successful or not

**Definition of Done**
- [ ] code for mentioned task is complete. examples & documentations are complete.

- [ ] build chains are tested

- [ ] corresponding branch is closed

- [ ] merging is done

[2020-03-25 10:41] LeilaPiri opened #81 "Get Info"
- rPi sends command js>{ "ARMID", "fwVersion"}
 - SAM responds with Hardware Chip ID and firmware Version

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding branch is closed

- [x] merging is done

[2020-03-25 10:42] LeilaPiri opened #82 "CalFW: Calibration UI Test"
- rPi starts UI Test: js<{"UITest"}
 - SAM activates following Routine:
   - all 4 LEDs: red 1 second, green 1sec, blue 1sec, off
   - button LED: on 1sec, off
   - fan 100% until user presses button, then off
 - SAM responds with success

**Definition of Done**
- [x] code for mentioned task is complete. examples & documentations are complete.

- [x] build chains are tested

- [x] corresponding br

[2020-03-25 12:53] begodev commented on #72
1. Intensity for the middle point is moved to 0.4 from 0.1. Maybe that was the problem. Now it should be near the half of brightness

2. Sensor drop-out detection is added.

[2020-03-26 14:16] thomaseichhorn commented on #72
I tested branch visualization_opt, and whilst the sensor connected/not-connected 'detection' looks good, the brightness now doesn't really visibly change with increasing/decreasing signal...

edit: sorry that was a cabling issue :)

As it turns out, the lighting does work as it should. However, for maximal signals, the brightness "increases" over the max value, so that the light colour changes fro

[2020-03-26 14:45] pmalessa commented on #74
The goal is to create a separate firmware based on the current production firmware. This calibration firmware will be used to test and calibrate the Timeswipe board after production. The mentioned components are not necessary for the calibration firmware.
Please create a branch for that

[2020-03-26 15:13] pmalessa commented on #74
Issue 75..82 are for the calibration firmware

[2020-03-26 15:37] begodev commented on #72
I set middle window point to 0.4 of brightness. It corresponds to B=2.25.
Maybe the middle brightness should be yet more less like 0.25 - B=10 gives this value (recommended value from the article). But then there is no so much degrees of brightness to display from 0.
Also now I put a minimum possible value of brightness to prevent flickering

Another problem when the measured value is constantly c

[2020-03-26 16:04] begodev commented on #72
Initially basic color is multiplied by normalized intensity [0,1]
The low level is limited, the high level shouldn't be more then 1, but I'll look
I changed order of calculations  a bit . Maybe it should be also limited by 0.9 for example...

[2020-03-26 22:04] #47 closed

[2020-03-26 22:21] begodev commented on #72
What do you think to replace the range window that is currently used with a moving average?
It would be good for periodic signals. Then it will show the current signal relative to the average.

![image](https://user-images.githubusercontent.com/52575842/77702126-da031980-6fc8-11ea-979c-300e160f8e42.png)

[2020-03-26 22:24] begodev commented on #72
It will be possible to see changes up/down sides

[2020-03-26 22:31] begodev commented on #72
Of course for constant signals it will show middle brightness finally, but then it is possible to use ratio of a signal to absolute range (+-10V). Then to choose mode manually (constant signal/periodic signal) or maybe even combine both automatically:
reserve some degrees of brightness for absolute range + some degrees for oscillations and mix them?

[2020-03-26 22:42] begodev commented on #72
To detect sensor drop: see if there was a drop from average region. If the drop was detected and the moving average goes to zero - sensor is out. It is not ultimate solution, but for sensors that produce signal in some narrow range above/below zero it should work.

So far, all my thoughts about this.What do you think?

[2020-03-27 11:36] IngoKaiser commented on #22
@iluxa could you please test setting mode?

[2020-03-29 21:32] IngoKaiser commented on #57
@begodev got pretty strange behavior on testing - pressing button leads to laggy led after that. looks like button creates issue here - plz ping me for further clarification and testing

[2020-03-30 00:25] begodev commented on #57
@IngoKaiser Set of m_upd_tspan_mS was rolled back. Possibly it was a reason of  laggy led.
Control of delays after switching LED modes will be improved along with NewMenuStructure.
The new firmware is flashed @ 10.0.0.8

[2020-03-30 11:15] IngoKaiser commented on #69
@iluxa are gain and transmission implemented as multipliers?

[2020-03-30 11:21] iluxa commented on #69
yes, and converted to one multiplier

[2020-03-31 22:19] #72 closed

[2020-04-07 13:11] #22 closed

[2020-04-07 13:14] #57 closed

[2020-04-07 13:24] IngoKaiser commented on #50
<img width="1326" alt="image" src="https://user-images.githubusercontent.com/24693067/78674527-07fb2e80-78e4-11ea-8b2b-02e0b3a44c41.png">

So this could be provided... so gain, bridge, offset (old zero) and mode (was secondary before) will be changed

[2020-04-07 13:52] pmalessa commented on #50
I just reviewed the implemented Menu with @IngoKaiser :

- After a Reset blink 2 times short and return back to visualization instead of settings
- After a long click to save the value in one of the menus, go back to settings instead of staying in the menu
- blink 2 times short instead of once long after saving
- on and active LED are hard to distinguish -> Blink active LED instead and keep all ot

[2020-04-07 16:14] IngoKaiser opened #84 "test"

[2020-04-07 16:14] #84 closed

[2020-04-07 16:16] PhoGGy opened #85 "DMSBoard: Implement Shift Register Abstraction Layer"
# Overview
The DMS 0.1.0 Board utilizes 2 serially concatenated shift register to extend its GPIO capabilities. A few Pins have been moved from GPIO Pins on the SAM into this shift register and many more have been added.
An Abstraction Layer shall be implemented to be able to set individual GPIOs on this shift register as if it is a normal GPIO.
# Pin Definitions
The Shift Register are connected a

[2020-04-07 17:02] PhoGGy opened #86 "DMSBoard: Implement Input SPI Protocol"
# Overview
4 PGA280 have been added to further control the input signal. Those 4 ICs can be controlled via SPI. A new SPI Bus has been established from SAM to those 4 ICs.
An Interface for some of the functions of the PGA280 shall be implemented to enable further control of the input signal.
# Definitions
## SPI Pins
Following Pins have been defined for the INA SPI:
SAM Pin | Function
-----|-----

[2020-04-07 23:05] begodev commented on #50
I think you've started finding offset routine: it is blinking LEDs while running and then can show red LEDs on error (offset was not found for a channel)

it is from description:
"LEDs blinking in Menu3 color, while searching
for the values that have to be set for the
demanded offset. Then if the offset was set
successfully, they are active for 1 second in
Menu3 color or red, if an error occurred.

[2020-04-07 23:10] begodev commented on #50
Ok, this is clear

[2020-04-07 23:11] begodev commented on #50
For this long click will be returned to press / release (normal click)  mode

[2020-04-07 23:34] begodev commented on #50
The firmware built from actual sources is re-flashed
Would you please check also the button LED heartbeat?

[2020-04-07 23:35] begodev commented on #50
The rest changes are coming soon...

[2020-04-08 16:44] IngoKaiser opened #87 "Create Emulator for Driver"
Create input data with hardcoded array (sin) or function including samplerate, burstsize

make button available on "Enter"

[2020-04-10 09:40] iluxa commented on #87
PR for the emulator: https://github.com/panda-official/TimeSwipe/pull/88

[2020-04-10 12:11] begodev commented on #75
„Voltage“ : ..,
„Current“ : ..,
„MaxCurrent“ : ..,

what should these parameters manage?

[2020-04-10 14:36] begodev commented on #74
Is it possible to combine #81 & #77 also with master? Because temperature is already  measuring and version/ID should be useful also for production firmware?

[2020-04-13 16:03] iluxa commented on #22
Merged issue_22 branch into [NewMenu](https://github.com/panda-official/TimeSwipe/tree/NewMenu) branch. Continue development there.

[2020-04-13 16:04] iluxa commented on #50
Implemented events reading in driver, merged changes from [issue_22](https://github.com/panda-official/TimeSwipe/issues/22)

[2020-04-14 08:51] pmalessa commented on #74
Yes, this is possible

[2020-04-14 09:33] pmalessa commented on #75
Current and MaxCurrent Setting will be added on future boards. This can be just added to the SPI Protocol without function.
Voltage is the Output Voltage, which can be set via QSPI and Chip Select CS1 on the Max5715 chip.

[2020-04-14 09:41] #11 closed

[2020-04-14 09:44] pmalessa commented on #75
These are changes, which are relevant for production firmware, not only the calibration firmware

[2020-04-14 23:28] begodev commented on #50
Menu structure has been changed according to the points above except
"LEDs blinking in Menu3 color, while searching
for the values that have to be set for the
demanded offset. Then if the offset was set
successfully, they are active for 1 second in
Menu3 color **or red, if an error occurred**."

How to show  searching Offset procedure error in a different way?

Data Visualisation based on Moving A

[2020-04-14 23:35] begodev commented on #77
Implemented in #9 atm

[2020-04-15 08:21] iluxa commented on #87
merged to master

[2020-04-15 08:21] #87 closed

[2020-04-16 11:20] begodev opened #90 "Checking the ability to automatically configure the system (kernel / drivers) at startup using DT blob ATOM read from EEPROM"
It is necessary to check the possibility of creating/providing an overlay that can be placed in the EEPROM
and it can configure system kernel/drivers in a proper way at the start-up;

https://github.com/raspberrypi/hats/blob/master/devicetree-guide.md

**Definition of Done**
- [ ] code for mentioned task is complete. examples & documentations are complete.

- [ ] build chains are tested

- [ ] cor

[2020-04-16 11:44] iluxa opened #91 "Config file config_osx for OSX cross-platform build is not available"
It's been lost somewhere in https://github.com/panda-official/TimeSwipe/commit/826cd137c810a7ebe54d0f9b87f5d215faf1f178

[config_osx.gz](https://github.com/panda-official/TimeSwipe/files/4486779/config_osx.gz)

[2020-04-16 12:41] IngoKaiser opened #92 "Confusing value in firmware readme"
In https://github.com/panda-official/TimeSwipe/tree/master/

"You should see 48 outputs of ... not erased. This indicates a successful write process."

But test showed 54. please recheck and change if needed.

[2020-04-16 13:18] thomaseichhorn commented on #92
The number actually depends on the size of the FW image being uploaded. At the time of writing, it was 48 :)
Will change to a generic text...

[2020-04-16 13:27] thomaseichhorn commented on #92
Fixed by commit https://github.com/panda-official/TimeSwipe/commit/841bc8d62e234d7ec27a3931186389fa1f6b540d , closing

[2020-04-16 13:27] #92 closed

[2020-04-16 14:52] pmalessa commented on #78
This could be merged with #81 as it is just an extra information and needs to be implemented in production firmware as well

[2020-04-16 16:11] thomaseichhorn commented on #91
Should now be fixed by https://github.com/panda-official/TimeSwipe/commit/a8c26a00e0e9857e088db409caede2b70c47f2ba . Could somebody verify please?

[2020-04-17 15:30] dmitigr opened #94 "Warning about undefined behavior upon building on Mac"
Hi,

When building on Mac, a lot of warnings like the following one are issued:
[code]

[2020-04-19 18:43] IngoKaiser commented on #81
@begodev implemented in fw? no need to implement in driver as method  - can be requested by implemented getSetting?! @iluxa

[2020-04-19 21:25] begodev commented on #81
Yes, it is in the firmware.  If no any double-checking by another guy is required   (since  I've already checked it). I think it can be merged...

[2020-04-19 21:33] begodev commented on #81
should be accessible via getSettings ("js>...") from the driver. js> works from the terminal

[2020-04-20 08:54] pmalessa commented on #50
I checked the menu on 10.0.0.8 and 10.0.0.12. Both seem to have a wrong menu: In RUN Mode, if I long press, it seems to jump to Gain Settings menu instead of settings menu. If I Long Press again, I'm back to RUN mode. Single Click marker works as expected.

[2020-04-20 14:12] pmalessa commented on #50
Feedback on newMenu:
- if you long press, the menu is not entered until you release the button. So you have to guess, when to release the button as you have no immediate feedback. This has to be changed, such that it enters the settings menu if you long press, even if you don't release. From settings mode into "menu" mode the same: You hold the button, it enters the menu once Long-Press-threshold

[2020-04-20 19:24] begodev commented on #50
That's how it was working before - long click without release before Very-Long Click has been added

ok, clear. But should then every Very-Long-Press cause reset from any Menu? Because when you press without release, first Long-click will be generated and menu is changed and only then Very-Long-click is generated?

[2020-04-22 00:13] begodev commented on #50
Behavior is changed. Flashed @10.0.0.12

[2020-04-24 10:36] pmalessa commented on #78
I had a look at the pull request. It seems like getCalStatus is currently just returning 0. That should be read from an EEPROM value and stored in EEPROM. in calibration firmware, this value is read/write, in production firmware its read only
Therefore, please implement a value in EEPROM for the CalStatus and implement a function to read this value.

[2020-04-24 10:47] pmalessa commented on #75
Code checked, looks okay for me

[2020-04-24 10:50] pmalessa commented on #81
code checked, okay for me

[2020-04-24 11:07] pmalessa commented on #50
only one bug remains:
RUN Mode -> long Click -> settings Mode -> 2x short click to step to blue blinking inside Settings mode -> long click to step inside blue mode.
If I then save the setting with long click, I get 2 long blinks to signal save (not 2 short ones like in the other menus) and then ca. 1sec all red. Then I'm back to settings mode with blue blinking.
If I then long click again (to ent

[2020-04-24 11:58] IngoKaiser commented on #81
tested on 10.0.0.12:

[code]

[2020-04-24 11:58] #81 closed

[2020-04-24 16:36] begodev commented on #78
I thought to put the value inside the calibration atom, but the atom structure is still not defined.
Also it is possible to define Cal Status by the number of atoms, but the number is not protected by CRC, unlike the atom itself (it comes with 16bit CRC)

[2020-04-27 15:44] pmalessa commented on #75
Checked the voltage setting with the SPI terminal:
<img width="269" alt="image" src="https://user-images.githubusercontent.com/14148556/80391238-c25fcf00-88ad-11ea-9698-7940f91a8a64.png">
The output needs to be rounded to XX.XX, so 2 digits after decimal point. If I set 10.01, I want to receive 10.01 in the response. If I set 10.025, I want to receive 10.03 in the response. If I set 10, response h

[2020-04-27 15:47] pmalessa commented on #78
Okay, so we will add the Calibration Status together with the calibration data once the atom structure is defined

[2020-04-27 15:47] #78 closed

[2020-04-27 16:09] pmalessa commented on #50
~~Heartbeat while recording is not working. Once I start the record with the dataLogger example, there is no visual feedback~~
sorry, I have been on the master branch. The heartbeat is working as expected. Therefore, this can be merged to master

[2020-04-27 16:11] pmalessa opened #96 "Documentation: missing cmake install"
In the OS X cross compile instruction, there is a install cmake instruction missing. `brew install cmake` works.

[2020-04-27 16:13] PhoGGy opened #97 "Documentation: !stoi! error not documented"
If I send `Record<true\n` via SPI Terminal, I get an !stoi! error. This is not documented in the communication protocol.

[2020-04-27 17:09] #50 closed

[2020-04-29 10:38] pmalessa commented on #74
Once the latest issues are merged into master, please create a CalFW branch and remove listed features

[2020-04-29 13:48] pmalessa opened #98 "EEPROM Documentation"

[2020-04-29 13:51] pmalessa commented on #98
Please write down a Documentation of our EEPROM Specification. I created a EEPROM_Doc branch and a doc/EEPROM Specification document for that.
Please copy important information from the official RPI HAT Specification to this document and list the current atom structure.
Please include a Calibration Status Atom, which is just a boolean which signals if the Calibration Data is valid.

[2020-04-29 22:04] begodev commented on #75
What I found is an https://github.com/nlohmann/json/issues/677:

nlohman:

It is a recomendation from nlohman.

It seems that some JSON engine fixes are  required...

[2020-04-30 13:55] begodev commented on #75
NLOHMAN JSON has been patched with std::sprintf.
It doesn't look really nice, but...
Atm is the fastest solution.
branch Issue_75, firmware flashed @10.0.0.8

[2020-05-07 17:52] pmalessa commented on #75
review done, works great :)

[2020-05-07 17:52] #75 closed

[2020-05-11 13:52] thomaseichhorn opened #100 "DataLogging example broken (won't build)"
Broken by commit 68817ba2cf2d0150da145ad0d23341966952b306

[2020-05-11 23:34] begodev commented on #85
I'd like to ask for what IEPE 1-IEPE 4 stand for?

[2020-05-11 23:38] begodev commented on #85
Also about QSPI CS0, QSPI CS1 - do they work the same way like SPI Ch0, SPI Ch 1,mean addressing chip 1-chip 4?

[2020-05-12 09:33] pmalessa commented on #85
IEPE1-4 enables the U_Bridge for each channel separately. The same functionality as was previously done by PC07 on SAM can now be done via the shift register for each Input channel.

[2020-05-12 09:35] pmalessa commented on #85
The QSPI CS Pins work differently. They are directly connected to the CS Pins of the 2 chips. Therefore, you have to make sure to enable only one at a time

[2020-05-26 08:14] #97 closed

[2020-05-26 08:17] pmalessa commented on #98
Waiting for input of our hardware engineer about the calibration data structure

[2020-05-27 09:35] #100 closed

[2020-06-30 13:44] pmalessa commented on #85
Wheres the difference between issue_85_86 and issue_85_86_ref branch?
Is the doc updated? Couldn't find it. Thanks!

[2020-07-26 23:17] begodev commented on #85
The main difference is  some refactoring ( issue_85_86_ref) was made for nodeControl and working with separate measurement channels.
The documentation is completed in my opinion if I didn't miss something

[2020-09-03 14:16] mjleehh opened #106 "build incompatible new firmware by default with no mention in READEM"
#In the firmware README there is no mention of:
- the two board types
- the fact that the new board firmware is not binary compatible to the old board
- the DMS CMake option that is enabled by default in newer firmeware builds
thus anyone trying to flash older types of boards will be confronted with a firmware that can be flashed but simply does not work.

See eb9b261641d28c39735fea1c2cfa29eb7088f

[2020-09-03 16:51] mjleehh opened #107 "EEPROM i2c"
file driver/src/timeswipe_eeprom.cpp:15 assumes the i2c device to be located at "/sys/class/i2c-adapter/i2c-0/new_device"

On Raspberry OS this is not always the case: the corresponding element can just as well be located at ""/sys/class/i2c-adapter/i2c-1/new_device" for example.

[2020-09-04 09:13] mjleehh opened #108 "building driver on raspberry OS"
The information in driver/README.md is inaccurate:
The driver/src/CMakeLists.txt is set up for cross compilation. It always searches for a toolchain file and then defaults to cross compilation on Arch Linux.

[2020-09-07 14:09] thomaseichhorn opened #109 "Utilisation of new board features"
The new TimeSwipe board has new features like setting mode, gain and IEPE for each channel (c.f. docs/CommunicationProtocol.md) and setting an output voltage.

For ease of usage, this should be accessible directly from the driver without having to go through SPI commands; ideally within the datalogging example.

[2020-09-16 11:01] thomaseichhorn opened #110 "SPI settings are overwritten in the first board run"
After booting the Pi and the TimeSwipe board, the first run of the datalogging example via `sudo ./main --config ../config.json --input 1 --trace-spi` (or any other program for that matter) will yield the following output:

[code]

Note the line:
[code]

This will overwrite any settings the user has set beforehand, either via SPI or e.g. via tswipe.SetSettings.
Running the exact same command again

[2020-09-21 14:01] #85 closed

[2020-09-21 14:01] #86 closed

[2020-10-01 08:34] begodev commented on #107
The issue is related to the issue #90

[2020-10-01 09:12] begodev commented on #110
At startup, the firmware reads the user settings from eeprom and since these settings have been just loaded from the eeprom generates an event.
When Data Logging reads this event at the first time the flag is reseted and it means there is no more events to read.
So at the second start of the Data Logging since the flag is not set no event string is displayed

[2020-10-07 13:58] begodev commented on #106
Fixed in https://github.com/dmitigr/TimeSwipe/tree/cmake-stuff-refactoring

[2020-10-07 14:03] begodev commented on #108
checked with https://github.com/dmitigr/TimeSwipe/tree/cmake-stuff-refactoring

[2020-10-08 11:04] begodev commented on #96
fixed in https://github.com/dmitigr/TimeSwipe/tree/cmake-stuff-refactoring/driver

[2020-10-13 15:31] begodev commented on #109
[+] Additions to the driver's API to set mode, gain and IEPE for each channel. Tested @10.0.0.38
[+] Added "CONFIG_SCRIPT" option in the  config.json of the DataLogging example to allow the board configuration at the start via the single js< command

[2020-10-23 13:25] thomaseichhorn opened #114 "Driver Resampling"
It seems that the resampling done by the driver runs into problems for some settings:

a) Resampling frequencies below 950Hz:

Peaks get introduced to the data, presumably due to incorrect padding. See attached screenshots for two examples of a constant signal input at 800Hz (bad) and at 1000Hz (good).

![sample_800hz](https://user-images.githubusercontent.com/7010830/97009064-eee66200-1543-11eb-9

[2020-10-23 13:34] thomaseichhorn commented on #114
Forgot to add to a) that resampling at 950Hz and having a non-constant signal input also yields expected (good) results...

[2020-11-04 09:42] #82 closed

[2020-11-04 09:43] #74 closed

[2020-11-11 14:02] begodev commented on #76
SAM will send result as a file (binary array) via small communication protocol extension

[2020-12-08 11:57] pmalessa commented on #80
Please have a look at the new Calibration Atom Specification in the docs folder of the EEPROM_doc branch.
Are you able to implement those JSON Commands in the Calibration Firmware? Do you have any suggestions for improvement?

[2020-12-13 19:14] begodev commented on #80
I like it

[2020-12-13 19:24] begodev commented on #80
My suggestions...
Initially I was thinking to put all atoms into the root dir that it would be possible to change any atom by the specified command, I mean not only cAtom but VendorInfo or GPIO atoms as well and maybe to create a separate command like ja< [number of the atom], [data].
But it's only an alternative opinion, I'm not sure now it will be an improvement to existing conception.
Both are

[2020-12-14 11:14] pmalessa commented on #80
Okay. I would keep it as js<, ja< would just make the communication protocol more complicated. Then please implement it the way I specified it. :)

[2020-12-14 11:16] pmalessa commented on #98
The Calibration data structure is now defined. Review pending

[2020-12-17 15:55] begodev commented on #80
ok

[2021-01-03 23:54] begodev commented on #79
merged with #80

[2021-01-15 09:09] thomaseichhorn opened #116 "LED visualisation in current FW master"
In the current firmware master branch, the visualisation of input signal levels via the 4 status LEDs is no longer active. This was the case for firmware versions v0.0.16 and previous.

Is there a reason this has been disabled? Can it be readded?

[2021-01-27 00:46] begodev commented on #116
Should be there. I'll check

[2021-01-27 22:01] begodev commented on #116
Looks like the LED driver was broken during latest total project rearrangement.
Should work now

[2021-02-01 12:49] pmalessa commented on #116
Does work now :)

[2021-02-01 12:49] #116 closed

[2021-02-01 12:50] pmalessa commented on #109
is added, can be closed

[2021-02-01 12:50] #109 closed

[2021-02-01 12:51] pmalessa commented on #96
done.

[2021-02-01 12:51] #96 closed

[2021-02-03 12:48] thomaseichhorn opened #118 "Native driver build on arm"
When building the driver of the current master natively on an arm device, the cross-compiling flag `CMAKE_CROSSCOMPILING` is not recognized (line 466), so CMake doesn't link the atomic library, thus failing the build.
Commenting out the check works, build is successful.
I'm not sure what the best way to fix this is...

[2021-02-03 15:35] dmitigr commented on #118
Fixed in 57fed6390bb6da4b0367309220cab597b7a261fa. Thanks!

[2021-02-03 15:35] #118 closed

[2021-02-09 20:33] dmitigr commented on #108
This is resolved now.

[2021-02-09 20:33] #108 closed

[2021-02-10 10:27] #94 closed

[2021-02-10 11:44] #106 closed

[2021-02-10 11:46] dmitigr commented on #91
It's available in master.

[2021-02-10 11:46] #91 closed

[2021-02-15 14:44] dmitigr commented on #80
Available in master since c160a1cddb068a2179491885ab8344d81cf09cff.

[2021-02-15 14:44] #80 closed

[2021-02-15 14:44] dmitigr commented on #79
Available in master since c160a1cddb068a2179491885ab8344d81cf09cff.

[2021-02-15 14:44] #79 closed

[2021-02-15 14:44] dmitigr commented on #98
Available in master since c160a1cddb068a2179491885ab8344d81cf09cff.

[2021-02-15 14:44] #98 closed

[2021-02-22 14:27] #77 closed

[2021-02-22 14:28] #9 closed

[2021-02-22 14:30] pmalessa commented on #17
@IngoKaiser can this be closed now?

[2021-02-22 14:32] IngoKaiser commented on #17
@pmalessa done

[2021-02-22 14:32] #17 closed

[2021-02-22 14:32] pmalessa commented on #69
@IngoKaiser I think this can be closed as well, because only one Board is active currently.

[2021-02-22 17:24] #5 closed

[2021-04-16 08:59] panda-ciaran opened #119 "Pi undervoltage interferes with measurement frequencies"
We noticed that some devices when using the ```datlog``` sample program were sampling at lower than expected frequencies.
When 48KHz was specified, we were only getting ~24KHz.
Checking dmesg we noticed that the Pi kernel was issuing undervoltage warnings like:

[code]
When the power regulator was adjusted the issue seemed to go away.

Should a warning be raised by the driver if the device is not

[2021-05-19 16:50] #76 closed

[2021-06-02 10:09] #114 closed

[2021-06-17 21:22] dmitigr commented on #110
I don't know why (yet) but TimeSwipe board must be restarted _after_ GPIO pins initialization in order to retrieve measurement data. This means, that firmware is restarted too and RAM (where the board settings resides) resets too. I don't know yet how its possible to avoid the firmware restart to make the driver works, but for now I refactored the driver to reset the firmware upon the very first d

[2021-06-17 21:22] #110 closed

[2022-02-01 11:55] #107 closed

[2022-02-01 11:56] #12 closed

[2022-02-01 11:56] #69 closed

[2022-02-01 11:56] #90 closed

[2022-02-01 11:57] pmalessa commented on #119
moved to gitlab

[2022-02-01 11:57] #119 closed

[2022-10-11 11:41] user706 opened #120 "PANDA_TIMESWIPE_GPIO_PULL"
### What happened?

What exactly is happening [here](https://github.com/panda-official/TimeSwipe/blob/914d7a7c8ad3fd5cd6ec374420ede3618cf8cf31/src/driver.cpp#L742)?

[code]

The function is called here:
[`    pull_gpio(pin, 0);`](https://github.com/panda-official/TimeSwipe/blob/914d7a7c8ad3fd5cd6ec374420ede3618cf8cf31/src/driver.cpp#L754)

Note that `high` is `0` so essentially, what's happening i